<div class="card">
    <h2 class="name-country"></h2>
    <div class="description-country">
        <p class="card-text">Capital:</p>
        <p class="card-text">Population:</p>
        <p class="card-text">Languages:</p>
        <ul class="list">
            <li class="list-item"></li>
        </ul>
    </div>
    <div class="image">
        <img src="" alt="Flag">
    </div>
</div>